* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

/*TOPBAR/MENU*/
.wrapper_head {
  width: 100vw;
  height: 64px;
  background-color: gray; }

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding-top: 8px;
  text-align: center; }

.mypage {
  display: block;
  height: 64px;
  width: 64px; }

.bookmark {
  display: block;
  height: 64px;
  width: 64px; }

.events {
  display: block;
  height: 64px;
  width: 64px; }

/*WRAPPER FOR PAGE*/
.wrapper_main {
  width: 100vw;
  height: 863px;
  background-color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.box {
  min-height: 100px;
  text-align: left;
  padding: 40px;
  display: inline-block;
  vertical-align: top; }

/*DIVIDING THE PAGE INTO COLUMNS*/
.column1 {
  width: 64px;
  background-color: white; }

.column2 {
  margin-left: 16px;
  width: 1240px;
  background-color: white;
  overflow-y: scroll;
  padding: 0; }

.column3 {
  margin-left: 16px;
  width: 315px;
  background-color: white;
  padding: 0; }

/*ARTICLE LAYOUT*/
.article_photo_large {
  height: 433px;
  background-image: url("../Bilder/Test/first.jpeg");
  background-size: cover;
  position: relative; }

.article_photo_small {
  height: 433px;
  background-image: url("../Bilder/Test/first.jpeg");
  background-size: cover;
  position: relative; }

.article_large {
  background-color: white;
  width: 1240px;
  margin-bottom: 8px;
  display: inline-block; }

.article_small {
  background-color: white;
  width: 610.2px;
  margin-bottom: 8px;
  display: inline-block; }

/*FONT AND COLOR*/
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding-left: 16px;
  color: white;
  position: absolute;
  bottom: 24px; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-left: 16px;
  color: white;
  position: absolute;
  bottom: 0; }

p {
  font-family: 'Roboto', sans-serif;
  padding-left: 16px; }

/*READING LIST*/
.btn {
  height: 100px;
  width: 100px;
  background-color: red; }

.article_description {
  font-weight: 300;
  color: #6d6d6d; }

.article_text {
  font-weight: 400; }

/*EVENTS LAYOUT*/
.event {
  height: 80px;
  width: 315px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  background-color: white; }

.calender {
  height: 80px;
  width: 80px;
  background-color: red;
  border-radius: 0 20px 0 0;
  display: inline-block; }

.event_text {
  height: 80px;
  width: 196px;
  background-color: blue;
  display: inline-block;
  padding: 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px; }
