* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#29323C), to(#485563));
    background: -webkit-linear-gradient(#29323C, #485563);
    background: -o-linear-gradient(#29323C, #485563);
    background: linear-gradient(#29323C, #485563);
}


/*TOPBAR/MENU*/

.wrapper_head {
    width: 100vw;
    height: 10vh;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mini_menu {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.head_title {
    width: 88vw;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-top: 8px;
    text-align: center;
}

.menu_item {
    width: 100%;
    height: 12.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.top_menu_item {
    min-width: 55px;
    width: 6vw;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.icons {
    padding: 20%;
    width: 100%;
    height: 100%;
}


/*WRAPPER FOR PAGE*/

.wrapper_main {
    width: 100vw;
    height: 93vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.box {
    min-height: 100px;
    padding: 40px;
    display: inline-block;
    vertical-align: top;
}


/*DIVIDING THE PAGE INTO COLUMNS*/

.column1 {
    width: 6vw;
    min-width: 55px;
    height: 100%;
    padding: 0;
}

.column2 {
    width: 74vw;
    background-color: white;
    overflow-y: scroll;
    padding: 0;
}

.column3 {
    width: 20vw;
    background-color: white;
    padding: 0;
}


/*ARTICLE LAYOUT*/

.article_photo_large {
    height: 433px;
    width: 73vw;
    background: linear-gradient( rgba(72, 85, 99, 0.6), rgba(41, 50, 60, 0.6)), url(img/first.jpeg);
    background-size: cover;
    position: relative;
}

.article_photo_small {
    height: 433px;
    background: linear-gradient( rgba(72, 85, 99, 0.6), rgba(41, 50, 60, 0.6)), url(img/first.jpeg);
    background-size: cover;
    position: relative;
}

.article_large {
    background-color: white;
    width: 73vw;
    margin-bottom: 8px;
    display: inline-block;
}

.article_small {
    background-color: white;
    width: 36.4vw;
    margin-bottom: 8px;
    display: inline-block;
}


/* MY PAGE LAYOUT */

#mypage_box {
    width: 100%;
    height: 100%;
}

.top_row {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.top_left {
    width: 25%;
}

.top_right {
    width: 75%;
    padding-left: 10%;
    align-content: center;
}

.mypage_img {
    width: 100%;
}


/*FONT AND COLOR*/

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-left: 16px;
    color: white;
    position: absolute;
    bottom: 24px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 16px;
    color: white;
    position: absolute;
    bottom: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
}


/*READING LIST*/

.display {
    display: block;
}

.displaynone {
    display: none;
}

.selected {
    background-color: white;
}

.btn {
    min-height: 2vh;
    min-width: 2vw;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.check {
    min-height: 2vh;
    min-width: 2vw;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.article_description {
    font-weight: 300;
    color: #6d6d6d;
}

.article_text {
    font-weight: 400;
}


/*READINGLIST LAYOUT*/

.reading_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reading_time {
    min-width: 2vw;
}

.reading_list {
    min-width: 15vw;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(185, 185, 185, 0.2);
}

.clock {
    margin-left: 4px;
    height: 7.5vh;
    width: 4vw;
    background: url(svg/009-stopwatch.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 20px 0 0;
    display: inline-block;
    color: white;
    padding: 22px;
    padding-top: 23px;
    line-height: 14px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.list {
    min-height: 7.5vh;
    min-width: 15vw;
    display: inline-block;
    padding: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
}


/*EVENTS LAYOUT*/

.event {
    height: 80px;
    width: 315px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(185, 185, 185, 0.2);
}

.calender {
    height: 80px;
    width: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(#29323C), to(#485563));
    background: -webkit-linear-gradient(#29323C, #485563);
    background: -o-linear-gradient(#29323C, #485563);
    background: linear-gradient(#29323C, #485563);
    border-radius: 0 20px 0 0;
    display: inline-block;
}

.event_text {
    min-height: 7.5vh;
    min-width: 15vw;
    display: inline-block;
    padding: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
